RewriteEngine On

# Força HTTPS e remove "www" — versao canonica: https://psicologiasupernova.com.br
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://psicologiasupernova.com.br%{REQUEST_URI} [L,R=301,NE]
